<div class="box">
	<div id="box_year">
		<h1>Watt does it take?</h1>
		<p>Current: <div id="start_amount"><%=@kwh_year%></div> KwH / year</p>
		<p>Configuration</p>
	</div>
	<div id="box_goal">
		<p>Goal: <input type="text" id="amount" readonly style="border:0; font-weight:bold;"> &#37;</p>
		<div id="slider"></div>
		<div id="goal_amount"> <%=@kwh_year/20 %> </div>
		<div id="cards_amount">0</div>
		<div id="progressbar"></div>

	</div>
</div>		
<div id="workspace">
	<p>Drag and drop actions here!</p>
</div>	

<div id="all_cards">
    <% @cards.each do |c|%>
    <div class="card" id="<%= c.id %>">
       <h2><%= c.name %><h2>   
	   <kwh><%= c.kwh %></kwh>
    </div>
    <% end %>
</div>

