<!DOCTYPE html>
<html>
<head>
  <title>Energybudget</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon(:init => true) %>
  <%= Gon::Base.render_data({}) %>
  <script>
  $(document).ready(function(){
	  // Basic logic: if a card is dropped in workspace it becomes active, if dropped back in card pool it desactivates.
	  $('.card').draggable({ snap: true  });
	  $('#workspace').droppable({
    	  drop: function(ev, ui) { 
			  $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
			  // Activate card
			  $.ajax({ url: "/activate/"+$(ui.draggable).attr('id'), type: 'PUT' });
			  // Recalculate amount
			  $.ajax({ 
				  url: "/recalculate", 
				  type: 'PUT' , 
				  success:function(data) {
					  $('#cards_amount').html(gon.saved_amount) 
				  }
			  });
		  }
	  });
	  $('#all_cards').droppable({
    	  drop: function(ev, ui) { 
			  $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this); 
			  // Desactivate card
			  $.ajax({ url: "/desactivate/"+$(ui.draggable).attr('id'), type: 'PUT' });
			  // Recalculate amount
			  $.ajax({ url: "/recalculate", type: 'PUT' });
			  	  
		  }
	  });
	  $( "#slider" ).slider({
      	range: "max",
      	min: 1,
      	max: 100,
      	value: 20,
      	slide: function( event, ui ) {
        $( "#amount" ).val( ui.value );
		$( "#goal_amount" ).html( Math.round(parseInt(<%=@kwh_year%>)*ui.value/100));
      }
    });
    $( "#amount" ).val( $( "#slider" ).slider( "value" ) );
	$( "#progressbar" ).progressbar({
	      value: 0
	    });
  });

  </script>
</head>

<body>

<%= yield %>

</body>
</html>
